<div id="<%= dom_id item %>">
  <p>
    <strong>Name:</strong>
    <%= item.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= item.description %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= item.notes %>
  </p>

  <p>
    <strong>Item:</strong>
    <%= item.item_id %>
  </p>

  <p>
    <strong>Container:</strong>
    <%= item.container %>
  </p>

  <p>
    <strong>Weight:</strong>
    <%= item.weight %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= item.location_id %>
  </p>

</div>
