<div id="<%= dom_id item %>">
  <p>
    <strong>Name:</strong>
    <%= item.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= item.description %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= item.notes %>
  </p>

  <% if @container_item %>
  <p>
    <strong>Container item:</strong>
    <%= @container_item.name %>
  </p>
  <% end %>

  <% if @location %>
  <p>
    <strong>Location:</strong>
    <%= @location.name %>
  </p>
  <% end %>

  <p>
    <strong>Weight:</strong>
    <%= item.weight %>
  </p>

</div>
