<p><%= notice %></p>

<div id="<%= dom_id @item %>">
  
  <%= render partial: "items/show/heading" %>

  <%= render partial: "items/show/item" %>

  <%= render partial: "items/show/picture" %>
</div>
