<%= form_with(model: location) do |form| %>
  <div>
    <% if location.errors.any? %>
      <div>
        <h2><%= pluralize(location.errors.count, "error") %> prohibited this location from being saved:</h2>

        <ul>
          <% location.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= form.label :name %>
    <%= form.text_field :name %>

    <%= form.label :description %>
    <%= form.text_area :description, rows: 4 %>

    <%= form.submit %>
  </div>
<% end %>
