<%= form_with(model: location) do |form| %>
  <div>
    <% if location.errors.any? %>
      <div>
        <h2><%= pluralize(location.errors.count, "error") %> prohibited this location from being saved:</h2>

        <ul>
          <% location.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="mb-1">
      <%= form.label :name %>
      <%= form.text_field :name, required: true %>
    </div>

    <div class="mb-1">
      <%= form.label :description %>
      <%= form.text_area :description, rows: 4 %>
    </div>

    <div class="mb-1">
      <%= form.file_field :picture, title: "Add a picture" %>
    </div>

    <%= form.submit %>
  </div>
<% end %>
