<%= content_for :page_specific_nav do %>
  <li class="inline"><%= link_to "New location", new_location_path, class: "text-link" %></li>
<% end %>

<p><%= notice %></p>

<div class="p-2">
  <h1 class="fs-8 mb-4
        ml-auto mr-auto width-half text-align-center
        border-bottom-4 border-style-groove">Locations</h1>

  <div id="locations" class="flex flex-wrap">
    <% @locations.each do |location| %>
      <a id="<%= dom_id location %>"
          href="<%= location_path(location) %>"
          class="box-link
                  inline-block text-align-center cursor-pointer
                  border-around-2 border-style-ridge
                  flex flex-col justify-around
                  flex-1
                  min-w-32 ml-2 mr-2 mb-4 p-4">
        <div>
          <div class="fs-6">
            <%= location.name %>
          </div>

          <div>
            <%= location.description %>
          </div>

          <div>
            <%= location.items.count %> items
          </div>
        </div>
      </a>
    <% end %>
  </div>
</div>
