<p><%= notice %></p>

<div id="<%= dom_id @location %>">
  <%= render partial: "locations/show/location" %>

  <%= render partial: "locations/show/inventories" %>

  <%= render partial: "locations/show/items" %>  
</div>
