<%= content_for :page_specific_nav do %>
  <li class="inline"><%= link_to "Back to locations", locations_path, class: "text-link" %></li>
<% end %>

<p><%= notice %></p>

<div id="<%= dom_id @location %>">
  <h1 class="fs-8"><%= @location.name %></h1>

  <div>
    <%= @location.description %> | <%= link_to "Edit location", edit_location_path(@location), class: "text-link" %>
  </div>

  <div>
    <%= button_to "Delete location", @location, method: :delete, class: "inline" %>
  </div>
</div>
