<!DOCTYPE html>
<html>
  <head>
    <title>Inventory</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="font-gill-sans">
    <header class="bg-light-gray header-box-shadow h-12 p-4 mb-4 flex justify-between align-items-center">
      <div class="inline">
        <span class="mr-2">
          <%= render partial: "layouts/heroicons/cube",
                locals: { css_class: "inline w-8 h-8" } %>
        </span>

        <span class="fs-5 mr-4">Inventory</span>
      </div>

      <nav class="flex-1 sm-hidden">
        <ul class="flex justify-end">
          <li class="inline mr-4"><%= link_to "New location", new_location_path, class: "text-link" %></li>
          <li class="inline mr-4"><%= link_to "New item", new_item_path, class: "text-link" %></li>
          <li class="inline mr-4"><%= link_to "Locations", locations_path, class: "text-link" %></li>
          <li class="inline mr-4"><%= link_to "Items", items_path, class: "text-link" %></li>
        </ul>
      </nav>

      <span class="mr-2 sm-show">
        <%= render partial: "layouts/heroicons/hamburger",
              locals: { css_class: "inline w-8 h-8" } %>
      </span>
    </header>

    <main class="ml-4 mr-4 mb-4 pl-1 pr-1 pb-1">
      <%= yield %>
    </main>
  </body>
</html>
